* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: rgb(185, 173, 173);
    padding: 10px;
    justify-content: space-evenly;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.title {
    display: flex;
    justify-content: center;
    background-color: rgb(60, 122, 216);
    height: 90vh;
}

.project {
    display: flex;
    justify-content: center;
    background-color: rgb(206, 215, 228);
    height: 90vh;
}

.contact {
    display: flex;
    justify-content: center;
    background-color: rgb(229, 214, 145);
    height: 90vh;
}

