* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(136, 138, 121, 0.589);
    padding: 20px;
    font-family: 'Lato', sans-serif;
    color: rgb(51, 55, 61);
}

#nav-logo a {
    text-decoration: none;

    transition: all 0.3s ease 0s;
}

#nav-logo a:visited {
    color: rgb(51, 55, 61);
}

#nav-logo a:hover {
    color: rgb(169, 199, 199);
}

#nav-links {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    color: rgb(51, 55, 61);
    width: 40vw;
}

#nav-links a {
    text-decoration: none;
    color: rgb(51, 55, 61);
}

#nav-links a:visited {
    text-decoration: none;
    color: rgb(51, 55, 61);

}

#nav-links a:hover {
    color: rgb(169, 199, 199);
}

#nav-links li a {
    transition: all 0.3s ease 0s;
}

#nav-contact a {
    text-decoration: none;
    color: rgb(51, 55, 61);
}

#nav-contact a:visited {
    text-decoration: none;
    color: rgb(51, 55, 61);
}

#nav-contact a:hover {
    color: rgb(169, 199, 199);
}

#nav-contact a {
    transition: all 0.3s ease 0s;
}

.background {
    height: 95vh;
    width: 100vw;
    padding: 0%;
    color: black;
    background-image: url(/images/tim-mossholder-ptc83uqJ0CM-unsplash.jpg);
    background-position: 20% 50%;
    background-size: cover;
}

.overlay {
    font-family: 'Urbanist', sans-serif;
    text-align: center;
    padding-top: 250px;
    height: 95vh;
    color: whitesmoke;
}


h1 {
    font-family: 'Urbanist', sans-serif;
    padding: 20px;
    font-size: 25px;
}

.naib {
    font-size: 55px;
    padding-bottom: 0px;
}

.soft {
    font-size: 30px;
}

p {
    font-family: 'Urbanist', sans-serif;
}

#about {
    text-align: center;
    height: 90vh;
    background-color: rgb(228, 218, 206);
    padding-bottom: 5%;
}

#about img {
    height: 250px;
    margin-top: 30px;
    border-radius: 50%;
}

#about p {
    padding: 15px;
}


.project {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(231, 235, 240);
    padding-bottom: 5%;
}

.projects-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj {
    height: 150px;
    width: 150px;
    border: black solid 2px;
}

.projects1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80vh;
}

.projects1 div:hover {
    background-color: rgb(234, 243, 213);
    height: 30vh;
    width: 30vh;
    border-radius: 10%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(199, 199, 199);
    padding-bottom: 20px;
}

.skills-logos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-logos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logos {
    height: 100px;
    width: 100px;
    padding: 20px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(240, 237, 226);
}

.skills1 h2 {
    margin-left: 0px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;

}

.contact-logos img:hover {
    background-color: rgb(243, 213, 213);
}